<!DOCTYPE html>
<html>
<head>
	<title>403 Forbidden</title>
</head>
<body>

<p>Directory access is forbidden.</p>
<div class="col-md-4 col-sm-6">
	<div class="single-package-item">
		<img src="<?= base_url('assets/images/gallary/p2.jpg')?>" alt="package-place">
		<div class="single-package-item-txt">
			<h3>Taman Kota <span class="pull-right">Rp. 25.000</span></h3>
			<div class="packages-review">
				<p>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<span>2544 review</span>
				</p>
			</div><!--/.packages-review-->
			<div class="about-btn">
				<a class="about-view packages-btn" href="<?= base_url('index.php/home/detail/$gmbr->id')?>">
					Lihat Detail 
				</a>
			</div><!--/.about-btn-->
		</div><!--/.single-package-item-txt-->
	</div><!--/.single-package-item-->

</div><!--/.col-->

<div class="col-md-4 col-sm-6">
	<div class="single-package-item">
		<img src="<?= base_url('assets/images/gallary/p3.jpg')?>" alt="package-place">
		<div class="single-package-item-txt">
			<h3>Pemancingan<span class="pull-right">Rp. 100.000</span></h3>
			<div class="packages-review">
				<p>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<span>2544 review</span>
				</p>
			</div><!--/.packages-review-->
			<div class="about-btn">
				<a class="about-view packages-btn" href="<?= base_url('index.php/detail')?>">
					Lihat Detail 
				</a>
			</div><!--/.about-btn-->
		</div><!--/.single-package-item-txt-->
	</div><!--/.single-package-item-->
</div><!--/.col-->
</body>
</html>
